html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
     }
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    font-family: Arial;
    font-size: 23px;
    background-image: url('https://img.freepik.com/premium-zdjecie/liscie-paproci-pioro-i-puste-spiralne-notatnik-na-turkus-tlo-teksturowane_23-2147916354.jpg?w=2000');
    background-size: cover;
    }

.background-image {
    background-color: rgba(0, 0, 0, 0.5);
}

.note {
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 16px;
    background: rgba(255,255,255,0.5);
}
.notes {
    border: 2px solid grey;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.details {
    border: 2px solid grey;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background:rgba(255,255,255,0.5);
}

#text {
    padding: 10px;
}

#details-btns {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 15px;

}
table {
    border-collapse: separate;
    border-spacing: 0 5px;
}
div.form-horizontal {
    width: 50%;
    height: 50%;
}


