﻿@{
    ViewBag.Title = "Note Not Found";
}

<h2>Sorry!</h2>
<p class="mb-4">This note doesn't exist in our database'</p>
@Html.ActionLink("Back to List", "Index", null,null, new { @class = "btn btn-info" })